.fondoGrilla {
  display: grid;
  /*grid-template-columns: 250px 250px 250px;*/ /*Como generar disposicion de las columnas de una grilla*/
  /*grid-template-columns: repeat(3, 250px );*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*grid-template-rows: 350px;*/
  grid-auto-rows: auto;
  gap: 20px;
}

.fondoPagina {
  background-image: url("fondoPagina.jpg");
  background-size: cover;
}
.aliniamientoDeTitulo {
  text-align: center;
  color: black;
}

.fotoDinamica {
  width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: black;
  border-radius: 250px;
  justify-content: center;
}

.hobbies {
  border: 2px solid rgb(0, 0, 0);
  overflow: scroll;
  background-color: rgb(199, 199, 199);
  text-align: center;
  margin: 30%;
  padding: 2%;
}
