.aliniamiento {
  display: flex;
  justify-content: center;
}

.columnasYfilas {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
}

.primerEjemplo {
  display: flex;
  justify-content: left;
}

.segundoEjemplo {
  display: flex;
  align-items: end;
}

.clase {
  display: grid;
  gap: 20px;
}

.otraClase {
  display: grid;
  grid-template-columns: 100px, 150px, 300px;
  grid-template-rows: 50px, 100px, 200px;
}
